@import url('https://fonts.googleapis.com/css?family=Poppins:300');
@import url("https://fonts.googleapis.com/css2?family=Phonk&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.corner-projection {
    position: absolute;
    z-index: 40;
    height: 8rem;
    top: 0;
    border-radius: 50%;
    filter: blur(30px)
}

.info_title {
    opacity: 0.4;
    font-family: phonk;
    letter-spacing: -0.025em;
    line-height: 1;
}

.info_container {
    transition: 1s;
}

.skill_box {
    width: 5rem;
    height: 5rem;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    overflow: hidden
}

.skill_box:hover {
    background: white;
}

.project_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0;
    border-bottom: 1px solid white;
}

.project_img_container {
    width: 8rem;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.mask{
    position: absolute;
    right: -4rem;
    bottom: -5rem;
    filter: blur(20px);
}

.arrow {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    color: black;
    z-index: 30;
    rotate: 45deg;
}

.project_link {
    transition: 0.5s;
    font-size: large;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.activity_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    overflow: hidden;
}

.contact_a {
    padding: 1rem;
    border: solid 1px white;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    border-radius: 50%;
    position: absolute;
    padding: 3rem;
    filter: blur(10px);
}

@media only screen and (min-width: 768px) {
    .info_container {
        width: 95%;
        backdrop-filter: blur(10px);
        background: #0008;
        padding: 2rem;
        border-radius: 1rem;
        font-size: large;
    }

    .project_container {
        flex-direction: row;
        align-items: center;
        padding: 0;
        border: none;
    }

    .project_img_container {
        width: 18rem;
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-thumb {
    background: #0f9;
    border-radius: 1px;
    transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #50f;
}

@font-face {
    font-family: "phonk";
    src: url("/fonts/Phonk.otf");
}